$cdarkblue: #031740;
$clightblue: #537fa6;
$clightyellow: #fcfaf2; // #d9d9d9;
$clightbeige: #d8d9b8;
$cdarkbeige: #bfbd9f;
$cdarkergrey: #ddd;
$cceadetblue: #6C94B4;
$clighterceadetblue: #92bde0;


form {
  position: relative;
  margin: 13vh 0% 13vh 0%;
  padding: 18px 40px 30px 40px;
  background-color: $clightblue;
  color: $clightyellow;
  font-size: 18px;

  border-radius: 16px;
  border: 2px solid $cdarkblue;
width: 300px;

  table {
    color: $clightyellow;
    font-size: 18px;

    label {
      margin-bottom: 0px;
      width: 240px;
    }

    td {
      border-top-style: none !important;
      padding: 0px !important;
    }

    input {
      margin-bottom: 15px;
    }
  }
}

.login-button {
  display: inline-block;
  background-color: #ddd;
  border: none;
  color: $cdarkblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  border-style: solid;
  border-color: $clightyellow;
}

.login-button:hover {
  background-color: #f1f1f1;


  border-style: solid;
  border-color: #ddd;
}

#back_to_top_row {
  display: none;
}
