$cdarkblue: #031740;
$clightblue: #537fa6;
$clightyellow: #fcfaf2; // #d9d9d9;
$clightbeige: #d8d9b8;
$cdarkbeige: #bfbd9f;
$cdarkergrey: #ddd;

.back-to-the-top-button {
  display: inline-block;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  border-style: solid;
  border-color: $clightyellow;
}

.back-to-the-top-button:hover {
  background-color: #f1f1f1;
  font-weight: bold;
  padding: 10px 22px;
  border-style: solid;
  border-color: #ddd;
}







#time_table {
  margin-top: 14vh;

  color: $cdarkblue;

  @media(max-width: 589px) {

    .fill-screen {
      height: 1850px;

    }
    margin-top: 2vh;
    h3 {
      padding-top: 5px;
      font-size: 24px;
      font-weight: bold;
    }
    table, th, td, tr {
      display: block;
    }
    table {
      padding-bottom: 15px;
      background-color: rgba(252, 250, 242, 0.0);
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      width: 252px;
    }
    tr:nth-of-type(odd) {
      td {
        background-color: rgba(252, 250, 242, 0.85);
      }
    }

    tr:nth-of-type(even) {
      td {
        background-color: rgba(252, 250, 242, 0.6);
      }
    }
    td {
      /* Behave  like a "row" */
      border: none;
      //border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0px;
      left: 6px;
      font-weight: bold;

      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    /*
	Label the data
	*/
    .en {
        td:nth-of-type(1):before {
        content: "Lecture date";
      }

      td:nth-of-type(2):before {
        content: "From - to";
      }

      td:nth-of-type(3):before {
        content: "Teacher";
      }
    }
    .cs {
      td:nth-of-type(1):before {
        content: "Datum konání";
      }

      td:nth-of-type(2):before {
        content: "Od - do";
      }

      td:nth-of-type(3):before {
        content: "Hodinu vede";
      }
    }


  }

  @media(min-width: 590px) {
    background-color: rgba(252, 250, 242, 0.5);
    table {
      text-align: center;

      th {
        padding-bottom: 10px;
        font-size: 20px;
      }

      td {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 3px;
        padding-top: 3px;
      }

      tr:nth-of-type(odd) {
        td {
          background-color: rgba(252, 250, 242, 0.8);
        }
      }

      tr:nth-of-type(even) {
        td {
          background-color: rgba(252, 250, 242, 0.5);
        }
      }
    }
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  @media(min-width: 992px) {
    margin-left: 35vw;
  }
}
.fill-screen {
  background-size: cover;
  background-position: center;
}

//content row styling

body {
   .content-row {
     padding-top: 20px;
   }

   .news-row {
     padding-top: 20px;
     padding-bottom: 20px;
     border-top-style: solid;
     border-top-width: 4px;
     border-top-color: $cdarkergrey;
     border-bottom-style: solid;
     border-bottom-width: 7px;
     border-bottom-color: $cdarkergrey;

     h2 {
       text-align: center
     }

     #news_ul {
       display: flex;
       justify-content: center;
     }

     @media (min-width: 992px) {
       .inside-text-container {
         padding-left: 15vw;
         padding-right: 15vw;

       }
     }

   }

   .border-row {
     padding-top: 20px;
     border-bottom-style: solid;
     border-bottom-width: 7px;
     border-bottom-color: $cdarkergrey;
   }

   @media (min-width: 768px) {
       .text-div {
      position: relative !important;

      .inside-text-container {
        position: absolute;
        top: 5%;
        // height: 10em;
        //  margin-top: -7em;
        left: 5vw;
        width: 80%;
        //   margin-left: -10em;
      }

       .middle-row{
        top: 30%!important;
      }
          .bottom-row{
        top: 1%!important;
      }
    }

    //not small enough to go in one column but needs smaller font sizes
    @media (max-width: 1150px) {
      .long-text {
        font-size: 17px;
      }


    }


     .image-div-1 {
       padding-right: 4vw;
       padding-left: 4vw;

     }

     .image-div-2 {
       padding-right: 7vw;
       padding-left: 1vw;
     }

     .image-div {
       img {

       }
     }

   }
 }
