
.fill-screen {
 background: url(../images/used_pictures/before_and_after/apo4.jpg) no-repeat center center fixed;
 // -webkit-background-size: cover;
//  -moz-background-size: cover;
 // -o-background-size: cover;
  background-size: cover;
 background-position: center;
}
