$cdarkblue: #031740;
$clightblue: #537fa6;
$clightyellow: #fcfaf2; // #d9d9d9;
$clightbeige: #d8d9b8;
$cdarkbeige: #bfbd9f;
$clightgrey: #f1f1f1;
$cdarkergrey: #ddd;


.back-to-the-top-button {
  display: inline-block;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  border-style: solid;
  border-color: $clightyellow;
}

.back-to-the-top-button:hover {
  background-color: #f1f1f1;
  font-weight: bold;
  padding: 10px 22px;
  border-style: solid;
  border-color: #ddd;
}

.border-row {
  padding-top: 20px;
  border-bottom-style: solid;
  border-bottom-width: 7px;
  border-bottom-color: $cdarkergrey;
}

.content-row {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .text-div {
    position: relative !important;

    .inside-text-container {
      position: absolute;
     top: 5%;
     // height: 10em;
    //  margin-top: -7em;
      left: 5vw;
     width: 80%;
   //   margin-left: -10em;
    }
  }
  //not small enough to go in one column but needs smaller font sizes
  @media (max-width: 1150px) {
    .long-text {
      font-size: 17px;
    }
    .contact-info {
      font-size: 15px;
    }
    .contact {
      font-size: 20px;
      padding-bottom: 0px!important;
      margin-bottom: 0px!important;
    }
  }
}



