{% extends "keramika_ostrovni_web/edit_form_base.html" %}
{% block form %}
     <form class="site-form" action="{% url 'account_info_edit' %}" metdod="post" style="margin: 5vh 0% 5vh 0%;">
        {% csrf_token %}

        <div id="info-table" class="grid-container">
            <div id="form-outside">
                <div id="forminsides" class="row">
                    <div class="col-md-12">
                        <div class="info-inner-div">
                                <div style="margin-top: 10px">
                                <label >{{ username }}</label>
                                <hr>
                            </div>
                            <div>
                                <label  class="cs-lang" for="id_jmeno">Jméno:</label>
                                <label  class="en-lang" for="id_jmeno">Name:</label>
                            </div>
                            <div>
                                <input type="text" name="jmeno" maxlength="20" id="id_jmeno"
                                       value="{{ contact_info.jmeno }}">
                            </div>
                            <div>
                                <label  class="cs-lang" for="id_prijmeni">Příjmení:</label>
                                  <label  class="en-lang" for="id_prijmeni">Surname:</label>
                            </div>
                            <div>
                               <input type="text" name="prijmeni" maxlength="20" id="id_prijmeni"
                                       value="{{ contact_info.prijmeni }}">
                            </div>

                            <div>
                                <label  class="cs-lang" for="id_telefoni_cislo">Tel. číslo:</label>
                                 <label  class="en-lang" for="id_telefoni_cislo">Phone number:</label>
                            </div>
                            <div>
                               <input type="number" name="telefoni_cislo" id="id_telefoni_cislo"
                                       value="{{ contact_info.telefoni_cislo }}">
                            </div>

                              <div>
                                <label  for="id_email">Email</label>
                            </div>
                            <div  style="margin-bottom: 10px">
                              <input type="email" name="email" maxlength="254" required id="id_email"
                                       value="{{ contact_info.email }}">
                            </div>
                        </div>
                    </div>

                </div>
                <div id="form-buttons" class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="mx-auto co-12 button-inner-div">
                               <input name="input_button" class="cs-lang change-button" type="submit" formmethod="post"
                               value="Storno"></input>
                        <input name="input_button" class="en-lang change-button" type="submit" formmethod="post"
                               value="Storno"></input>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="mx-auto co-12 button-inner-div">
                          <input name="input_button" class="cs-lang change-button" type="submit" formmethod="post"
                               value="Uložit změny"></input>
                        <input name="input_button" class="en-lang change-button" type="submit" formmethod="post"
                               value="Save changes"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
{% endblock %}
