{% extends "keramika_ostrovni_web/base.html" %}
{% block title %}Keramická dílna brána jazyků{% endblock %}
{% block links %}
    <link rel="stylesheet" href="../../static/keramika_ostrovni_web/css/adults_styling.css">{% endblock %}
{% block js %}
    <script src="../../static/keramika_ostrovni_web/js/adult_page_scripts.js"></script>
    <script>
        $(function () {
            set_bg_color();
            set_main_picture_background_for_screen_size(window);
            set_menu_color($('.adults_menu'));
        });
    </script>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="fill-screen col-12"
             style="background-image: url(../../static/keramika_ostrovni_web/images/used_pictures/before_and_after/dilna2_2020.JPG)">
            <div id="time_table" class="col-lg-7">
                <div class="cs-lang">
                    <table class="cs" style="width:100%">
                        <tr><h3> Rozpis lekcí keramiky pro dospělé</h3></tr>
                        <thead>
                        <tr>
                            <th>Datum konání</th>
                            <th>Od - do</th>
                            <th>Hodinu vede</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.den_cs }}, {{ course.datum.day }}. {{ course.datum.month }} </td>
                                <td>{{ course.od }} - {{ course.do }}</td>
                                <td>{{ course.ucitel }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="en-lang">
                    <table class="en" style="width:100%">
                        <tr><h3> Pottery classes for adults</h3></tr>
                        <thead>
                        <tr>
                            <th>Lecture date</th>
                            <th>From - to</th>
                            <th>Teacher</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>

                                <td>{{ course.den_en }}, {{ course.datum.day }}. {{ course.datum.month }} </td>
                                <td>{{ course.od }} - {{ course.do }}</td>
                                <td>{{ course.ucitel }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row news-row">
        <div class="col-12 ">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Aktuality</h2>
                    <h2 class="en-lang" style="display: none">News</h2>
                    <div id="news_ul">
                        <ul class="cs-lang">
                            {% for news in aktuality %}
                                <li>{{ news.text_zpravy_cs }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="en-lang">
                            {% for news in aktuality %}
                                <li>{{ news.datum }} {{ news.text_zpravy_en }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            </div>

        </div>

    </div>

<div style="max-width: 1200px; margin: 0 auto">
    <div class="row content-row">

        <div class="col-md-7 order-md-1 text-div">
            <div class="bottom-row inside-text-container">
                <article class="text_square">
                    <h3 class="cs-lang"><b>O kurzech</b></h3>
                    <h3 class="en-lang"><b></b></h3>
                    <h4 class="cs-lang long-text">
                        Kurz keramiky pro dospělé - tedy 15+, je vhodný pro každého, kdo si chce aktivně odpočinout,
                        vytvořit si něco keramického pro radost a pobýt v příjemném inspirativním prostředí. Nezáleží,
                        jestli jste s hlínou někdy pracovali nebo ne, kurz si užijí začátečníci i pokročilí. Zkušená
                        lektorka ráda přispěje radou i pomocí. <br>
                        K dispozici je dílna s veškerými pomůckami- špachtle, očka, válečky, krajky, tiskátka atd.,
                        včetně sádrových forem, keramického kruhu, několika typů barevných hlín s různými strukturami.

                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                </article>
            </div>
        </div>
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/adults/adults_class.jpg"
                 style="width: 100%"/>
        </div>
    </div>

    <div class="row content-row">

        <div class="col-md-7 order-md-1 text-div">
            <div class="bottom-row inside-text-container">
                <article class="text_square">
                    <h3 class="cs-lang"><b></b></h3>
                    <h3 class="en-lang"><b></b></h3>
                    <h4 class="cs-lang long-text"><br><br><br><br>
                        Lekce pro dospělé jsou tříhodinové v režimu cca 1x za 14 dní, vždy ve čtvrtek od 16 do 19 hod.
                        <br>
                        Za pololetí proběhne vždy 10 lekcí. Cena za pololetí pro dospělé je 2800,-Kč.

                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                </article>
            </div>
        </div>
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/adults/adults_lighthouse.jpg"
                 style="width: 100%"/>
        </div>
    </div>

    <div class="row border-row"></div>



    <div class="row content-row">

        <div class="col-md-4 ">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/adults/mugs_on_shelf.jpg"
                 style="width: 100%"/>
        </div>
        <div class="col-md-4 ">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/adults/painting_muf_on_shelf.jpg"
                 style="width: 100%"/>
        </div>
        <div class="col-md-4 ">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/before_and_after/jaro%202011%20024.jpg"
                 style="width: 100%"/>
        </div>

    </div>
    <div class="row border-row"></div>

</div>

{% endblock %}
