{% extends "keramika_ostrovni_web/base.html" %}
{% block title %}Keramická dílna brána jazyků{% endblock %}
{% block links %}
    <link rel="stylesheet" href="../../static/keramika_ostrovni_web/css/children_styling.css">{% endblock %}
{% block js %}
    <script src="../../static/keramika_ostrovni_web/js/children_page_scripts.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            set_bg_color();
            //add_time_table();
            $('#children_drop_link_cs').css({
                "color": '#031740'
            });
             $('#children_drop_link_en').css({
                "color": '#031740'
            });
        });
        var navbarsize = 'large';
        window.onscroll = () => {
            //navbar_resizing_scrolling();

        };
        $(function () {
            $(window).on("load resize", function () {
                if (window.innerWidth > 589) {

                    if (window.innerHeight < 500) {
                        $(".fill-screen").css("height", "500px"); //mobile sideways, table does not overflow background
                    } else {

                        $(".fill-screen").css("height", window.innerHeight); // big screen, background exactly matches window
                    }
                } else {
                    $(".fill-screen").css("height", "1150px");//mobile view, table longer than one screen height
                }

                if (window.innerWidth > 751) {
                    var display_curr = $('#navbar-template-section').css("display")
                    if (display_curr === "none") {
                        $('#navbar-template-section').css("display", "flex");
                        $('#hide-navbar-button').css({
                            "border-color": "#fcfaf2",
                            "color": "#fcfaf2",
                            "padding-bottom": "6px",
                            "border-width": "0px",
                            "top": "8px"
                        });
                    }
                }
            });


            $('#hide-navbar-button').click(function () {
                console.log("button pushed")
                var display_curr = $('#navbar-template-section').css("display")
                if (display_curr === "none") {
                    $('#navbar-template-section').css("display", "flex");
                    $('#hide-navbar-button').css({
                        "border-color": "#fcfaf2",
                        "color": "#fcfaf2",
                        "padding-bottom": "6px",
                        "border-width": "0px",
                        "top": "8px"
                    });
                } else {
                    $('#navbar-template-section').css("display", "none");
                    $('#hide-navbar-button').css({
                        "border-color": "#031740",
                        "color": "#031740",
                        "padding-bottom": "2px",
                        "border-width": "1px",
                        "top": "-0.8em"
                    });
                }


            });
        })
        ;
        make_sure_lang_is_set();
    </script>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="fill-screen col-12"
             style="background-image: url(../../static/keramika_ostrovni_web/images/used_pictures/before_and_after/dilna2020cc.jpg)">
            <div id="time_table" class="col-lg-8">
                <div class="cs-lang">
                    <table class="cs" style="width:100%">
                        <tr><h3> Rozpis kroužků keramiky 2020/2021</h3></tr>
                        <thead>
                        <tr>
                            <th>Den</th>
                            <th>Od - do</th>
                            <th>Žáci</th>
                            <th>Hodinu vede</th>
                            <th>Počet míst</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.den_cs }}</td>
                                <td>{{ course.od }} - {{ course.do }}</td>
                                <td>{{ course.zaci_trida }} třída</td>
                                <td>{{ course.ucitel }}</td>
                                <td>{{ course.max_kapacita_krouzku }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="en-lang">
                    <table class="en" style="width:100%">
                        <tr><h3> Timetable of pottery classes 2020/2021</h3></tr>
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>From - to</th>
                            <th>Students</th>
                            <th>Teacher</th>
                            <th>Free spots</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.den_en }}</td>
                                <td>{{ course.od }} - {{ course.do }}</td>
                                <td>{{ course.zaci_trida }} grade</td>
                                <td>{{ course.ucitel }}</td>
                                <td>{{ course.max_kapacita_krouzku }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row news-row">
        <div class="col-12 ">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Aktuality</h2>
                    <h2 class="en-lang" style="display: none">News</h2>
                    <div id="news_ul">
                        <ul class="cs-lang">
                            {% for news in aktuality %}
                                <li>{{ news.text_zpravy_cs }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="en-lang">
                            {% for news in aktuality %}
                                <li>{{ news.datum }} {{ news.text_zpravy_en }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="row content-row">

        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang"><b>O našich kroužcích</b></h2>
                    <h2 class="en-lang"><b>About our courses</b></h2>
                    <h4 class="cs-lang long-text">
                        Děti se naučí základním znalostem a řemeslným dovednostem při tvarování hlíny a jejím
                        dekorování.<br>
                        V hodinách vytvářejí plastiky, nádoby, talíře, figurky zvířat i lidí, kachle,
                        učí se dekorovat engobami, glazurami, oxidy kovů, za pomoci šablon i skla.<br>
                        Cílem je rozvíjení jemné motoriky, tvůrčího myšlení, výtvarného prostorového vnímání
                        s důrazem na originalitu a jedinečnost keramických výrobků.
                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                </article>
            </div>
        </div>
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/kids/two_girls_building_flower_pots_cropped.jpg"
                 style="width: 100%"/>
        </div>
    </div>

    <div class="row content-row">

        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h4 class="cs-lang long-text">
                        V průběhu školního roku děti vytvoří sadu asi patnácti výrobků, které si odnášejí domů.<br>
                        Jediný svůj výrobek darují do keramického stánku školních vánočních trhů, kdy prodejem výrobků
                        dětí podpoří i keramická dílna chlapce v Indii, kterého adoptovala na dálku naše ZŠ.<br>
                        Polovina lekcí je věnována modelování s hlínou na určitý námět, podle fantazie dětí.
                        V druhé polovině hodin si děti svoje vymodelované výrobky dekorují.
                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                </article>
            </div>
        </div>
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/kids/kids_painting.JPG"
                 style="width: 100%"/>
        </div>
    </div>
    <div class="row border-row"></div>

    <div class="row content-row">

        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang"><b>Organizační informace</b></h2>
                    <h2 class="en-lang"><b></b></h2>
                    <h4 class="cs-lang long-text">
                        Keramika probíhá v příjemném inspirativním prostředí školní keramické dílny v přízemí Ostrovní
                        ulice 16 na Praze 1. <br>
                        <b>Kurz je 1x v týdnu 90 minut, cena 2000,-Kč. </b><br>
                        Pro děti z 1. stupně je zajištěn doprovod ze<b> ZŠ ve Vojtěšské</b> do dílny a zpět.<br>
                        S sebou potřebují jen pracovní zástěru nebo tričko, přezůvky a tašku na přezůvky, ve které si
                        domů bezpečně odnášejí i svoje výrobky.

                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                </article>
            </div>
        </div>
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/from_street.JPG"
                 style="width: 100%"/>
        </div>
    </div>


    <div class="row content-row">

        <div class="col-md-7 order-md-1 text-div">
            <div class="middle-row inside-text-container">
                <article class="text_square">
                    <h3 class="cs-lang"><b>Co si vzít s sebou?</b></h3>
                    <h3 class="en-lang"><b></b></h3>
                    <h4 class="cs-lang long-text">
                        S sebou potřebují jen pracovní zástěru nebo tričko, přezůvky a tašku na přezůvky, ve které si
                        domů bezpečně odnášejí i svoje výrobky.
                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                </article>
            </div>
        </div>
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/kids/full_shelfs_painted.jpg"
                 style="width: 100%"/>
        </div>
    </div>


    <div class="row content-row">

        <div class="col-md-7 order-md-1 text-div">
            <div class="bottom-row inside-text-container">
                <article class="text_square">
                    <h3 class="cs-lang"><b>Co je v dílně k dispozici?</b></h3>
                    <h3 class="en-lang"><b></b></h3>
                    <h4 class="cs-lang long-text">
                        Děti mají k dispozici veškeré pomůcky: špachtle, očka, válečky... <br>
                        Dílna je samozřejmě vybavena elektrickou pecí a hrnčířským kruhem. Všechny používané materiály -
                        ker. hmota, glazury, engoby atd. mají certifikát zdravotní nezávadnosti.<br>
                        Výrobky jako hrníčky, vázy, talíře, misky aj. lze běžně používat.

                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                </article>
            </div>
        </div>
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/pomucky.jpg"
                 style="width: 100%"/>
        </div>
    </div>
    <div class="row border-row"></div>

    <div class="row content-row">
        <div class="col-md-3 "></div>
        <div class="col-md-6 ">
            <img src="../../static/keramika_ostrovni_web/images/used_pictures/girls_working_painting.jpg"
                 style="width: 100%"/>
        </div>

    </div>
    <div class="row border-row"></div>

{% endblock %}
