{% extends "keramika_ostrovni_web/base.html" %}
{% block title %}Keramická dílna brána jazyků{% endblock %}
{% block links %}
    <link rel="stylesheet" href="../../static/keramika_ostrovni_web/css/children_sign_into_classes.css">{% endblock %}

{% block js %}
    <script src="../../static/keramika_ostrovni_web/js/children_page_scripts.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            set_bg_color();
            set_menu_color($('.children_menu'));
        });
    </script>
{% endblock %}
{% block page_content %}

    <div class="row">

        <div class="col-12"
             style="background-color:rgba(83, 127, 166, 0.65)">
            <div id="time_table" class="col-lg-11" style="margin-bottom: 0px!important;margin-top: 30px!important;">
                <form action="{% url 'sign_up_child' %}" method="post">
                    {% csrf_token %}
                    <div class="cs-lang">
                        <article class="text_square">
                            <h2 class="cs-lang">Do kroužků keramiky 2022/2023 se zapisuje přes systém
                                <a target="_blank" rel="noopener noreferrer"
                                   href="http://www.branajazyku.cz/krouzky">ZŠ Brány jazyků</a>
                            </h2>
                            <h5>V tomto systému vám po zápisu na konkrétní kroužek přijde potvrzující email.</h5>
                            <h5> V potvrzujícím emailu je link k případnému odhlášení z kroužku. Prosíme rodiče, aby
                                děti
                                odhlašovali z termínů, o kterých již ví, že se jim nehodí.</h5>
                            <h5>Děkujeme</h5>
                        </article>
                    </div>
                    <div class="en-lang">
                        <article class="text_square">
                            <h2 class="en-lang" style="display: none">Signing up for ceramics courses 2022/2023 is
                                handled through the system of <a target="_blank" rel="noopener noreferrer"
                                                                 href="http://www.branajazyku.cz/krouzky">ZŠ Brána
                                    jazyků</a></h2>
                            <h5>In this system, after signing up for a course, you receive a registration email.
                            </h5>
                            <h5>The registration email contains a link, that can be used for canceling the registration.
                                We kindly ask you to use this link for courses, you already know do not suit your
                                timetable.
                            </h5>
                            <h5>Thank you</h5>
                        </article>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
