{% extends "keramika_ostrovni_web/base.html" %}
{% block title %}Keramická dílna brána jazyků{% endblock %}
{% block links %}
    <link rel="stylesheet" href="../../static/keramika_ostrovni_web/css/teachers_styling.css">{% endblock %}
{% block js %}

    <script src="../../static/keramika_ostrovni_web/js/teacher_page_scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            set_menu_color($('.teachers_menu'));
        });
    </script>
{% endblock %}
{% block page_content %}
<div style="max-width: 1100px; margin: 0 auto">
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/teachers_foto/Eva_Lukasova_2.jpg"
                 style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2><b>Mgr. Eva Lukášová</b></h2>
                    <h4 class="cs-lang long-text">Učitelka VV na druhém stupni ZŠ Brána jazyků a lektorka
                        keramických kurzů pro děti a dospělé.<br>


                        I ve volném čase - pokud zbyde - ráda tvořím. Keramičím, maluji, šiji, zahradničím a klidně se
                        chopím i vrtačky a pily.<br>
                        Keramické kroužky vedu od roku 2000. Snažím se podněcovat žáky k
                        vlastní tvůrčí činnosti a pomáhat dětem i dospělým ve věku 6-99 let realizovat jejich keramické
                        nápady a sny.


                        Keramika rozvíjí lidský um, motorické schopnosti a především pomáhá žákům pociťovat radost nad
                        vlastnoručně vytvořeným výrobkem. Keramická tvorba je čas a
                        prostor pro estetický, tvůrčí a osobnostní rozvoj možný v jakémkoliv věku. Těším se, že si z
                        našich kroužků vyberete a přijdete si zatvořit i odpočinout.
                    </h4>
                    <h4 class="en-lang" style="display: none"></h4>
                    <h3 class="contact"><b>Kontakt:</b></h3>
                    <table class="table table-borderless table-sm">
                        <tr>
                            <td><b>Tel: </b></td>
                            <td>+420 602 753 416</td>
                        </tr>
                        <tr>
                            <td><b>E-mail: </b></td>
                            <td>eva.lukasova@branajazyku.cz</td>
                        </tr>
                    </table>
                </article>
            </div>

        </div>

    </div>
    <div class="row border-row"></div>
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/teachers_foto/Alena_Kinclova_c.jpg"
                 style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2><b>Bc. Alena Kinclová</b></h2>
                    <h4 class="cs-lang long-text">Absolventka Svatojánské koleje - Předškolní pedagogika a Teologické
                        fakulty
                        Jihočeské univerzity - obor Pedagogika volného času, 12 let praxe v MŠ (poslední 2 roky u
                        Voršil).<br>
                        Kolem keramiky se motám od dvaceti let, hlavně protože mě moc baví, asi rok jsem pomáhala s
                        klienty psychiatrické léčebny v rámci ergoterapie a ve školce tvořím s dětmi celou dobu, co v ní
                        pracuji. Nejsem velký umělec, ale práce s hlínou mi přináší radost a vidím, že dětem taky a
                        pomáhá jim v rozvoji celé jejich osobnosti.<br>
                        Moc ráda čtu, plavu, chodím po lese a po horách, jsem máma 2 skoro dospělých holek, pro rodinu
                        ráda peču různé dobroty.</h4><br>
                    <h4 class="en-lang" style="display: none"></h4>
                    <h3 class="contact"><b>Kontakt:</b></h3>
                    <table class="table table-borderless table-sm">
                        <tr>
                            <td><b>Tel: </b></td>
                            <td>+420 776 101 325</td>
                        </tr>
                        <tr>
                            <td><b>E-mail: </b></td>
                            <td>alyzakinclova@gmail.com</td>
                        </tr>
                    </table>
                </article>
            </div>

        </div>

    </div>
    <div class="row border-row"></div>
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../../static/keramika_ostrovni_web/images/teachers_foto/Monika_2.JPG"
                 style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2><b>Bc. Monika Yilmaz</b></h2>
                    <h4 class="cs-lang long-text">Vystudovala obor Pedagogika - Výtvarná výchova na Pedagogické fakultě
                        Univerzity Karlovy v Praze. Věnovala se práci s dětmi v různých zájmových kroužcích jako
                        keramický, výtvarný, práce se dřevem. Pracovala jako vedoucí na letních táborech. S dětmi
                        pracovala i v sociální oblasti jako sociální pracovník v Nízkoprahovém zařízení pro děti a
                        mládež, kde se věnovala organizování a realizaci výchovných, vzdělávacích a volnočasových
                        aktivit s dětmi ohroženými sociálním vyloučením. <br>
                        Nyní pracuje jako asistentka pedagoga na ZŠ Brána jazyků s RVM.
                    </h4><br>
                    <h4 class="en-lang" style="display: none"></h4>
                    <h3 class="contact"><b>Kontakt:</b></h3>
                    <table class="table table-borderless table-sm">
                        <tr>
                            <td><b>Tel: </b></td>
                            <td>+420 775 637 303</td>
                        </tr>
                    </table>
                </article>
            </div>

        </div>

    </div>
    <div class="row border-row"></div>

</div>
{% endblock %}
