#navbar-template-section {
  background-color: #537fa6;
  border-bottom-style: solid;
  border-bottom-color: #031740;
  border-top-style: solid;
  border-top-color: #031740;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 5px;
  color: #fcfaf2;
}
#navbar-template-section .navbar-brand {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 99px !important;
}
#navbar-template-section #language-dropdown, #navbar-template-section .dropdown-menu {
  background-color: #fcfaf2;
}
@media (min-width: 768px) {
  #navbar-template-section {
    /* Change color of dropdown links on hover */
  }
  #navbar-template-section .navbar-brand {
    display: block;
    margin: 0 auto;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    height: 99px !important;
  }
  #navbar-template-section .navbar-brand #nav-logo-picture {
    margin-right: 10px;
  }
  #navbar-template-section #outside-pages-links, #navbar-template-section #user-account-link {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #navbar-template-section #outside-pages-links a, #navbar-template-section #user-account-link a {
    padding: 4px;
  }
  #navbar-template-section #user-nav-item {
    /*commented out divider*/
    /* border-right-style: solid;
     border-right-width: 2px;
     border-right-color: $cdarkblue;
     margin-right: 10px;*/
  }
  #navbar-template-section #user-nav-item #user-account-link {
    padding-right: 10px;
  }
  #navbar-template-section .dropdown-menu a:hover {
    background-color: #ddd;
  }
  #navbar-template-section .dropdown-menu button:hover {
    background-color: #ddd;
  }
  #navbar-template-section #logout-link:hover .logout-link, #navbar-template-section #logout-link:hover #logout-button {
    background-color: #ddd !important;
  }
  #navbar-template-section .logout-link:hover, #navbar-template-section #logout-button:hover {
    background-color: #ddd !important;
  }
  #navbar-template-section .logout-link:hover #logout-button, #navbar-template-section #logout-button:hover #logout-button {
    background-color: #ddd !important;
  }
}
@media (max-width: 767px) {
  #navbar-template-section {
    text-align: center;
    background-color: #537fa6;
    background: rgba(83, 127, 166, 0.85);
    /* Dropdown Button */
    /* The container <div> - needed to position the dropdown content */
    /* Dropdown Content (Hidden by Default) */
    /* Links inside the dropdown */
    /* Change color of dropdown links on hover */
    /* Show the dropdown menu on hover */
    /* Change the background color of the dropdown button when the dropdown content is shown */
  }
  #navbar-template-section #language-dropdown, #navbar-template-section .dropdown-menu {
    text-align: center;
  }
  #navbar-template-section .navbar-brand {
    margin: 0 auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 79px !important;
  }
  #navbar-template-section .navbar-brand #nav-logo-picture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #navbar-template-section #outside-pages-links {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 30%;
    padding-right: 30%;
  }
  #navbar-template-section #outside-pages-links a {
    padding-bottom: 3px;
    padding-top: 3px;
  }
  #navbar-template-section .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  #navbar-template-section .dropdown {
    position: relative;
    display: inline-block;
  }
  #navbar-template-section .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  #navbar-template-section .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #navbar-template-section .dropdown-content a:hover {
    background-color: #ddd;
  }
  #navbar-template-section .dropdown-content button:hover {
    background-color: #ddd !important;
  }
  #navbar-template-section .dropdown:active .dropdown-content {
    display: block;
  }
}

.nav-link {
  color: #fcfaf2;
  font-size: 16pt;
}

.nav-link:hover {
  color: #031740;
}

#language-dropdown #czech-flag {
  width: 20px;
  margin-top: 7px;
  margin-left: 5px;
}
#language-dropdown #english-flag {
  width: 20px;
  margin-top: 7px;
  margin-left: 3px;
}
#language-dropdown .language_dropdown_button {
  color: #031740;
}

/*# sourceMappingURL=navbar_styling.css.map */
